In [1]:
import pandas as pd, numpy as np
import os
import data_paths as dpath

In [2]:
os.listdir('../bikeIntel data/')

['.ipynb_checkpoints',
 'Bookings Regression dataset.csv',
 'Combined data.csv',
 'dates_formatted.csv',
 'Raw data',
 'Stationwise bookings',
 'Untitled.ipynb']

In [6]:
dpath.data_avenue, dpath.stationswise

('../bikeIntel data/', 'Stationwise bookings/')

In [5]:
dataset = pd.read_csv(dpath.data_avenue+"Bookings Regression dataset.csv")

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455280 entries, 0 to 1455279
Data columns (total 9 columns):
YY                    1455280 non-null int64
MM                    1455280 non-null int64
DD                    1455280 non-null int64
hh                    1455280 non-null int64
mm                    1455280 non-null int64
ss                    1455280 non-null int64
Day                   1455280 non-null int64
Start Station Name    1455280 non-null object
End Station Name      1455280 non-null object
dtypes: int64(7), object(2)
memory usage: 99.9+ MB

In [7]:
dataset['Start Station Name'].value_counts()

Grove St PATH                 166326
Hamilton Park                  88982
Sip Ave                        78307
Exchange Place                 66790
Newport PATH                   65581
Newport Pkwy                   45595
Newark Ave                     43428
Warren St                      41509
Morris Canal                   41342
Marin Light Rail               40486
City Hall                      40177
Van Vorst Park                 40100
Paulus Hook                    37906
Brunswick St                   37476
Harborside                     36372
Liberty Light Rail             34206
Essex Light Rail               34133
Jersey & 3rd                   29910
Jersey & 6th St                29562
McGinley Square                29419
Columbus Drive                 27757
Brunswick & 6th                27316
JC Medical Center              25655
Monmouth and 6th               24537
Manila & 1st                   22755
Dixon Mills                    22278
Washington St                  20852
Oakland Ave                    20509
Baldwin at Montgomery          18429
Pershing Field                 17412
                               ...
Hilltop                        12650
Grand St                       11946
Christ Hospital                11073
5 Corners Library              10519
Astor Place                    10153
Heights Elevator               10099
Lafayette Park                  8910
Riverview Park                  8762
York St                         8724
Montgomery St                   8226
Leonard Gordon Park             7485
Fairmount Ave                   7007
Dey St                          6933
Bergen Ave                      6911
Communipaw & Berry Lane         4702
Glenwood Ave                    3946
Central Ave                     3637
Union St                        3457
North St                        2701
Hoboken Ave at Monmouth St      2596
Garfield Ave Station            2379
Jackson Square                  1817
NJCU                            1167
West Side Light Rail             730
Bayside Park                     643
MLK Light Rail                   588
Columbia Park                    525
Danforth Light Rail              317
Bethune Center                   114
JCBS Depot                       104
Name: Start Station Name, Length: 63, dtype: int64

In [8]:
Stations = dataset['Start Station Name'].value_counts().keys()

In [9]:
Stations

Index(['Grove St PATH', 'Hamilton Park', 'Sip Ave', 'Exchange Place',
       'Newport PATH', 'Newport Pkwy', 'Newark Ave', 'Warren St',
       'Morris Canal', 'Marin Light Rail', 'City Hall', 'Van Vorst Park',
       'Paulus Hook', 'Brunswick St', 'Harborside', 'Liberty Light Rail',
       'Essex Light Rail', 'Jersey & 3rd', 'Jersey & 6th St',
       'McGinley Square', 'Columbus Drive', 'Brunswick & 6th',
       'JC Medical Center', 'Monmouth and 6th', 'Manila & 1st', 'Dixon Mills',
       'Washington St', 'Oakland Ave', 'Baldwin at Montgomery',
       'Pershing Field', 'Journal Square', 'Lincoln Park',
       'Columbus Dr at Exchange Pl', 'Hilltop', 'Grand St', 'Christ Hospital',
       '5 Corners Library', 'Astor Place', 'Heights Elevator',
       'Lafayette Park', 'Riverview Park', 'York St', 'Montgomery St',
       'Leonard Gordon Park', 'Fairmount Ave', 'Dey St', 'Bergen Ave',
       'Communipaw & Berry Lane', 'Glenwood Ave', 'Central Ave', 'Union St',
       'North St', 'Hoboken Ave at Monmouth St', 'Garfield Ave Station',
       'Jackson Square', 'NJCU', 'West Side Light Rail', 'Bayside Park',
       'MLK Light Rail', 'Columbia Park', 'Danforth Light Rail',
       'Bethune Center', 'JCBS Depot'],
      dtype='object')

In [9]:
for station in Stations:
    path = dpath.data_avenue+dpath.stationswise+station
    os.mkdir(path)
    dataset[dataset['Start Station Name'] == station].to_csv(path+"/"+station+".csv", index = False)
    print(station+".csv"+" Processed..")

Grove St PATH.csv Processed..
Hamilton Park.csv Processed..
Sip Ave.csv Processed..
Exchange Place.csv Processed..
Newport PATH.csv Processed..
Newport Pkwy.csv Processed..
Newark Ave.csv Processed..
Warren St.csv Processed..
Morris Canal.csv Processed..
Marin Light Rail.csv Processed..
City Hall.csv Processed..
Van Vorst Park.csv Processed..
Paulus Hook.csv Processed..
Brunswick St.csv Processed..
Harborside.csv Processed..
Liberty Light Rail.csv Processed..
Essex Light Rail.csv Processed..
Jersey & 3rd.csv Processed..
Jersey & 6th St.csv Processed..
McGinley Square.csv Processed..
Columbus Drive.csv Processed..
Brunswick & 6th.csv Processed..
JC Medical Center.csv Processed..
Monmouth and 6th.csv Processed..
Manila & 1st.csv Processed..
Dixon Mills.csv Processed..
Washington St.csv Processed..
Oakland Ave.csv Processed..
Baldwin at Montgomery.csv Processed..
Pershing Field.csv Processed..
Journal Square.csv Processed..
Lincoln Park.csv Processed..
Columbus Dr at Exchange Pl.csv Processed..
Hilltop.csv Processed..
Grand St.csv Processed..
Christ Hospital.csv Processed..
5 Corners Library.csv Processed..
Astor Place.csv Processed..
Heights Elevator.csv Processed..
Lafayette Park.csv Processed..
Riverview Park.csv Processed..
York St.csv Processed..
Montgomery St.csv Processed..
Leonard Gordon Park.csv Processed..
Fairmount Ave.csv Processed..
Dey St.csv Processed..
Bergen Ave.csv Processed..
Communipaw & Berry Lane.csv Processed..
Glenwood Ave.csv Processed..
Central Ave.csv Processed..
Union St.csv Processed..
North St.csv Processed..
Hoboken Ave at Monmouth St.csv Processed..
Garfield Ave Station.csv Processed..
Jackson Square.csv Processed..
NJCU.csv Processed..
West Side Light Rail.csv Processed..
Bayside Park.csv Processed..
MLK Light Rail.csv Processed..
Columbia Park.csv Processed..
Danforth Light Rail.csv Processed..
Bethune Center.csv Processed..
JCBS Depot.csv Processed..

In [10]:
del dataset

In [22]:
for station in Stations:
    path = dpath.data_avenue+dpath.stationswise+station
    station_data = pd.read_csv(path+"/"+station+".csv")
    hrs = station_data['hh'].values
    hrs_1 = []
    
    for hr in hrs:

        if hr>=0 and hr<3:
            hr = '0-3'

        elif hr>=3 and hr<6:
            hr = '3-6'

        elif hr>=6 and hr<9:
            hr = '6-9'

        elif hr>=9 and hr<12:
            hr = '9-12'

        elif hr>=12 and hr<15:
            hr = '12-15'

        elif hr>=15 and hr<18:
            hr = '15-18'

        elif hr>=18 and hr<21:
            hr = '18-21'

        elif hr>=21 and hr<24:
            hr = '21-24'
    
        hrs_1.append(hr)
        
    hrs = pd.Series(hrs_1, name="hh")
    station_data['Day'] = station_data['Day'].astype(object)
    
    pd.concat([station_data.iloc[:,:3],hrs, station_data['Day']], axis = 1).to_csv(path+"/"+station+"_hr_binned.csv", index = False)
    
    print(station+"_hr_binned.csv processed successfully...")

Grove St PATH_hr_binned.csv processed successfully...
Hamilton Park_hr_binned.csv processed successfully...
Sip Ave_hr_binned.csv processed successfully...
Exchange Place_hr_binned.csv processed successfully...
Newport PATH_hr_binned.csv processed successfully...
Newport Pkwy_hr_binned.csv processed successfully...
Newark Ave_hr_binned.csv processed successfully...
Warren St_hr_binned.csv processed successfully...
Morris Canal_hr_binned.csv processed successfully...
Marin Light Rail_hr_binned.csv processed successfully...
City Hall_hr_binned.csv processed successfully...
Van Vorst Park_hr_binned.csv processed successfully...
Paulus Hook_hr_binned.csv processed successfully...
Brunswick St_hr_binned.csv processed successfully...
Harborside_hr_binned.csv processed successfully...
Liberty Light Rail_hr_binned.csv processed successfully...
Essex Light Rail_hr_binned.csv processed successfully...
Jersey & 3rd_hr_binned.csv processed successfully...
Jersey & 6th St_hr_binned.csv processed successfully...
McGinley Square_hr_binned.csv processed successfully...
Columbus Drive_hr_binned.csv processed successfully...
Brunswick & 6th_hr_binned.csv processed successfully...
JC Medical Center_hr_binned.csv processed successfully...
Monmouth and 6th_hr_binned.csv processed successfully...
Manila & 1st_hr_binned.csv processed successfully...
Dixon Mills_hr_binned.csv processed successfully...
Washington St_hr_binned.csv processed successfully...
Oakland Ave_hr_binned.csv processed successfully...
Baldwin at Montgomery_hr_binned.csv processed successfully...
Pershing Field_hr_binned.csv processed successfully...
Journal Square_hr_binned.csv processed successfully...
Lincoln Park_hr_binned.csv processed successfully...
Columbus Dr at Exchange Pl_hr_binned.csv processed successfully...
Hilltop_hr_binned.csv processed successfully...
Grand St_hr_binned.csv processed successfully...
Christ Hospital_hr_binned.csv processed successfully...
5 Corners Library_hr_binned.csv processed successfully...
Astor Place_hr_binned.csv processed successfully...
Heights Elevator_hr_binned.csv processed successfully...
Lafayette Park_hr_binned.csv processed successfully...
Riverview Park_hr_binned.csv processed successfully...
York St_hr_binned.csv processed successfully...
Montgomery St_hr_binned.csv processed successfully...
Leonard Gordon Park_hr_binned.csv processed successfully...
Fairmount Ave_hr_binned.csv processed successfully...
Dey St_hr_binned.csv processed successfully...
Bergen Ave_hr_binned.csv processed successfully...
Communipaw & Berry Lane_hr_binned.csv processed successfully...
Glenwood Ave_hr_binned.csv processed successfully...
Central Ave_hr_binned.csv processed successfully...
Union St_hr_binned.csv processed successfully...
North St_hr_binned.csv processed successfully...
Hoboken Ave at Monmouth St_hr_binned.csv processed successfully...
Garfield Ave Station_hr_binned.csv processed successfully...
Jackson Square_hr_binned.csv processed successfully...
NJCU_hr_binned.csv processed successfully...
West Side Light Rail_hr_binned.csv processed successfully...
Bayside Park_hr_binned.csv processed successfully...
MLK Light Rail_hr_binned.csv processed successfully...
Columbia Park_hr_binned.csv processed successfully...
Danforth Light Rail_hr_binned.csv processed successfully...
Bethune Center_hr_binned.csv processed successfully...
JCBS Depot_hr_binned.csv processed successfully...

In [ ]:
rows_1=[]
for date in date_dict:
    hrs={
        0:0,
        3:0,
        6:0,
        9:0,
        12:0,
        15:0,
        18:0,
        21:0
    }
    for hr in date_dict[date]:
        hrs[hr]=hrs[hr]+1
        
    day=calendar.weekday(2015,8,date)
    
    for hr in hrs:
        row = [date,hr,day,hrs[hr]]
        rows_1.append(row)

rows_1 = np.array(rows_1)

In [53]:
tdata = pd.read_csv(dpath.data_avenue+dpath.stationswise+"Grove St PATH/Grove St PATH_hr_binned.csv")

In [45]:
tdata = tdata[tdata['YY'] == 2017]
tdata.head(20)

         YY  MM  DD     hh  Day
34725  2017   1   1    0-3    6
34726  2017   1   1    0-3    6
34727  2017   1   1    0-3    6
34728  2017   1   1    3-6    6
34729  2017   1   1    6-9    6
34730  2017   1   1    6-9    6
34731  2017   1   1   9-12    6
34732  2017   1   1   9-12    6
34733  2017   1   1  12-15    6
34734  2017   1   1  12-15    6
34735  2017   1   1  12-15    6
34736  2017   1   1  12-15    6
34737  2017   1   1  12-15    6
34738  2017   1   1  15-18    6
34739  2017   1   1  15-18    6
34740  2017   1   1  15-18    6
34741  2017   1   1  15-18    6
34742  2017   1   1  15-18    6
34743  2017   1   1  15-18    6
34744  2017   1   1  15-18    6

In [46]:
tdata = tdata[tdata['MM'] == 10]
tdata.head(20)

         YY  MM  DD    hh  Day
60800  2017  10   1   0-3    6
60801  2017  10   1   0-3    6
60802  2017  10   1   0-3    6
60803  2017  10   1   0-3    6
60804  2017  10   1   0-3    6
60805  2017  10   1   0-3    6
60806  2017  10   1   0-3    6
60807  2017  10   1   0-3    6
60808  2017  10   1   0-3    6
60809  2017  10   1   0-3    6
60810  2017  10   1   0-3    6
60811  2017  10   1   3-6    6
60812  2017  10   1   3-6    6
60813  2017  10   1   6-9    6
60814  2017  10   1   6-9    6
60815  2017  10   1   6-9    6
60816  2017  10   1   6-9    6
60817  2017  10   1  9-12    6
60818  2017  10   1  9-12    6
60819  2017  10   1  9-12    6

In [47]:
tdata = tdata[tdata['DD'] == 10]
tdata.head(20)

         YY  MM  DD    hh  Day
62114  2017  10  10   0-3    1
62115  2017  10  10   6-9    1
62116  2017  10  10   6-9    1
62117  2017  10  10   6-9    1
62118  2017  10  10   6-9    1
62119  2017  10  10   6-9    1
62120  2017  10  10   6-9    1
62121  2017  10  10   6-9    1
62122  2017  10  10   6-9    1
62123  2017  10  10   6-9    1
62124  2017  10  10   6-9    1
62125  2017  10  10   6-9    1
62126  2017  10  10   6-9    1
62127  2017  10  10   6-9    1
62128  2017  10  10   6-9    1
62129  2017  10  10  9-12    1
62130  2017  10  10  9-12    1
62131  2017  10  10  9-12    1
62132  2017  10  10  9-12    1
62133  2017  10  10  9-12    1

In [50]:
tdata = tdata[tdata['hh'] == "6-9"]
tdata.head(20)

         YY  MM  DD   hh  Day
62115  2017  10  10  6-9    1
62116  2017  10  10  6-9    1
62117  2017  10  10  6-9    1
62118  2017  10  10  6-9    1
62119  2017  10  10  6-9    1
62120  2017  10  10  6-9    1
62121  2017  10  10  6-9    1
62122  2017  10  10  6-9    1
62123  2017  10  10  6-9    1
62124  2017  10  10  6-9    1
62125  2017  10  10  6-9    1
62126  2017  10  10  6-9    1
62127  2017  10  10  6-9    1
62128  2017  10  10  6-9    1

In [51]:
tdata.shape

(14, 5)

In [25]:
for station in dpath.stations:
    print("Processing "+station+"_hr_binned.csv ...", end = "  ")
    ndata= []
    path = dpath.data_avenue+dpath.stationswise+station+"/"
    data = pd.read_csv(path+station+"_hr_binned.csv")
    yrs = data['YY'].values
    for yy in range(yrs.min(), yrs.max()+1):
        data_yy = data[data['YY'] == yy]
        for mm in range(1,13):
            data_yy_mm = data_yy[data_yy['MM'] == mm]
            
            if data_yy_mm.shape[0] == 0:
                continue
            
            dd_max = data_yy_mm['DD'].values.max()
            
            for dd in range(1,dd_max+1):
                data_yy_mm_dd = data_yy_mm[data_yy_mm['DD'] == dd]  
                if data_yy_mm_dd.shape[0] == 0:
                    continue
                    
                day = str(np.unique(data_yy_mm_dd['Day'].values)[0])
                for hr in ['0-3', '3-6', '6-9', '9-12', '12-15', '15-18', '18-21', '21-24']:
                    data_yy_mm_dd_hh = data_yy_mm_dd[data_yy_mm_dd['hh'] == hr]
                    bookings = data_yy_mm_dd_hh.shape[0]
                    row = [yy, mm, dd, day, hr, bookings]
                    ndata.append(row)
    ndata = np.array(ndata)
    ndata = pd.DataFrame(ndata, columns = ["YY", "MM", "DD", "Day", "HH", "Bookings"])
    ndata.to_csv(path+station+"_bookings.csv", index = False)
    print("Done!")

Processing Grove St PATH_hr_binned.csv ...  Done!
Processing Hamilton Park_hr_binned.csv ...  Done!
Processing Sip Ave_hr_binned.csv ...  Done!
Processing Exchange Place_hr_binned.csv ...  Done!
Processing Newport PATH_hr_binned.csv ...  Done!
Processing Newport Pkwy_hr_binned.csv ...  Done!
Processing Newark Ave_hr_binned.csv ...  Done!
Processing Warren St_hr_binned.csv ...  Done!
Processing Morris Canal_hr_binned.csv ...  Done!
Processing Marin Light Rail_hr_binned.csv ...  Done!
Processing City Hall_hr_binned.csv ...  Done!
Processing Van Vorst Park_hr_binned.csv ...  Done!
Processing Paulus Hook_hr_binned.csv ...  Done!
Processing Brunswick St_hr_binned.csv ...  Done!
Processing Harborside_hr_binned.csv ...  Done!
Processing Liberty Light Rail_hr_binned.csv ...  Done!
Processing Essex Light Rail_hr_binned.csv ...  Done!
Processing Jersey & 3rd_hr_binned.csv ...  Done!
Processing Jersey & 6th St_hr_binned.csv ...  Done!
Processing McGinley Square_hr_binned.csv ...  Done!
Processing Columbus Drive_hr_binned.csv ...  Done!
Processing Brunswick & 6th_hr_binned.csv ...  Done!
Processing JC Medical Center_hr_binned.csv ...  Done!
Processing Monmouth and 6th_hr_binned.csv ...  Done!
Processing Manila & 1st_hr_binned.csv ...  Done!
Processing Dixon Mills_hr_binned.csv ...  Done!
Processing Washington St_hr_binned.csv ...  Done!
Processing Oakland Ave_hr_binned.csv ...  Done!
Processing Baldwin at Montgomery_hr_binned.csv ...  Done!
Processing Pershing Field_hr_binned.csv ...  Done!
Processing Journal Square_hr_binned.csv ...  Done!
Processing Lincoln Park_hr_binned.csv ...  Done!
Processing Columbus Dr at Exchange Pl_hr_binned.csv ...  Done!
Processing Hilltop_hr_binned.csv ...  Done!
Processing Grand St_hr_binned.csv ...  Done!
Processing Christ Hospital_hr_binned.csv ...  Done!
Processing 5 Corners Library_hr_binned.csv ...  Done!
Processing Astor Place_hr_binned.csv ...  Done!
Processing Heights Elevator_hr_binned.csv ...  Done!
Processing Lafayette Park_hr_binned.csv ...  Done!
Processing Riverview Park_hr_binned.csv ...  Done!
Processing York St_hr_binned.csv ...  Done!
Processing Montgomery St_hr_binned.csv ...  Done!
Processing Leonard Gordon Park_hr_binned.csv ...  Done!
Processing Fairmount Ave_hr_binned.csv ...  Done!
Processing Dey St_hr_binned.csv ...  Done!
Processing Bergen Ave_hr_binned.csv ...  Done!
Processing Communipaw & Berry Lane_hr_binned.csv ...  Done!
Processing Glenwood Ave_hr_binned.csv ...  Done!
Processing Central Ave_hr_binned.csv ...  Done!
Processing Union St_hr_binned.csv ...  Done!
Processing North St_hr_binned.csv ...  Done!
Processing Hoboken Ave at Monmouth St_hr_binned.csv ...  Done!
Processing Garfield Ave Station_hr_binned.csv ...  Done!
Processing Jackson Square_hr_binned.csv ...  Done!
Processing NJCU_hr_binned.csv ...  Done!
Processing West Side Light Rail_hr_binned.csv ...  Done!
Processing Bayside Park_hr_binned.csv ...  Done!
Processing MLK Light Rail_hr_binned.csv ...  Done!
Processing Columbia Park_hr_binned.csv ...  Done!
Processing Danforth Light Rail_hr_binned.csv ...  Done!
Processing Bethune Center_hr_binned.csv ...  Done!
Processing JCBS Depot_hr_binned.csv ...  Done!